.VideoDetails {
  @apply flex flex-col gap-4 p-4 bg-white rounded-lg shadow-md;
  .video-title {
    @apply text-2xl font-semibold text-slate-800;
  }
  .video-player {
    @apply relative w-full aspect-video;
  }
}